body{
 
	font-family: 'Calibri', sans-serif;
	margin:0;
	z-index: 1;


   /**
	* background:linear-gradient(to top right,#FFFFFF 70%, #1B3D92);
   url(IMG_Fond.jpg) no-repeat center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   #F57F01 = orange premier
   #d67105 = orange second
   #23478b = couleur bleu




   background: linear-gradient(  #F2F3F4 0%, black 40%);

   */
}


.main{
   width: 100%;
   height: 4000px;
   overflow:hidden;
}

.debut{
	z-index: 2;
	position : fixed;
	height: 300px;
	width: 100%;
 }
 
 .couleur_menu{
	position:absolute;
	width: 100%;
	height: 80px;
	background-color: transparent;
	display: flex; 
 }
 
 .menu_flex_droite{
	flex: 1;
	height: 80px;
	flex-grow: 7;
	display: flex;
	align-items: center;
	background-color: transparent;
 }
 
 .Acceuil a, .Notre_projet a, .Comment_jouer a, .contact a{
	font-family: 'Unispace', sans-serif;
	background-color: transparent;
	height: 80px;
	width: 50px;
	padding: 10px;
	font-size: 12pt;
	text-decoration: none;
	color: #F2F3F4;
	margin-left: 20px;
	transition-duration: 0.7s;
	border-radius: 50px;
	border: solid 1px transparent;
	mix-blend-mode: difference;

 }
 


 .Acceuil :hover , .Notre_projet :hover, .Comment_jouer :hover, .contact :hover{
	color:#a3a3a3 ;
	border-radius: 50px;
	transition-duration: 0.3s;
	border: solid 1px #F2F3F4;
 }


 .name
 {
	border-top: 0px ;
	background-color: black;
	height: 1000px;
	width: 100%;
	margin-top: -55px;

 }


 .com p 
 {
	background-color: black;
   	font-size: 42pt;
	margin-left: 150px;
	padding-top: 300px;
	font-family: 'Unispace', sans-serif;
	color: white;
 }

 .personnage
 {
	border-top: 0px ;
	width: 100%;
	margin-top: -50px;
 }

 .perso
 {
	font-size: 25pt;
	font-family: 'Unispace', sans-serif;
	color: white;
	margin-left:5%;
 }

.transition
{
	width: 100%;
	background: linear-gradient(black 0%, #6d297e  40%);
}




.photoplayer1
{
	width: 20%;
	height: 75px;
	float: right;
	background: url(Guerrier1-removebg-preview\ \(1\).png) center no-repeat ;;
}

.photoplayer2
{
	width: 20%;
	height: 75px;
	float: right;
	background: url(Archer1-removebg-preview\ \(1\).png) center no-repeat ;;
}



.photo1
{
	width: 20%;
	height: 75px;
	float: right;
	background: url(Walker1-removebg-preview\ \(5\).png) center no-repeat ;;
}

.photo3
{
	width: 20%;
	height: 75px;
	float: right;
	background: url(chient-removebg-preview\ \(1\).png) center no-repeat ;;
}

.photo4
{
	width: 20%;
	height: 75px;
	float: right;
	background: url(boss.2-removebg-preview\ \(1\).png) center no-repeat ;;
}



.part_one
{
	padding-top: 50px;
	width: 80%;
	margin: auto;
	height: 300px;
	position: relative;
	

}

.cube_one
{
	height: 300px;
	width: 45%;
	background-color: #e2a8e6;
	box-shadow: #a3a3a3;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	position: absolute;

}

.cube_one2
{
	height: 300px;
	width: 45%;
	background-color: #e2a8e6;
	box-shadow: #a3a3a3;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	position: absolute;
	margin-left: 55%;

}

.cube_one p
{
	height: 200px;
	width: 80%;
	margin: auto;
	padding-top: 7%;
	font-size: 16pt;

}

.cube_one2 p
{
	height: 200px;
	width: 80%;
	margin: auto;
	padding-top: 7%;
	font-size: 16pt;

}






.part_two
{
	padding-top: 50px;
	width: 80%;
	margin: auto;
	height: 500px;
	position: relative;
	

}




.cube_two
{
	height: 300px;
	width: 45%;
	margin-left: 55%;
	background-color: #e2a8e6;
	box-shadow: #a3a3a3;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	position: absolute;

}


.cube_two2
{
	height: 300px;
	width: 45%;
	margin-left: 0%;
	background-color: #e2a8e6;
	box-shadow: #a3a3a3;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	position: absolute;

}

.cube_two p
{
	height: 200px;
	width: 80%;
	margin: auto;
	padding-top: 7%;
	font-size: 16pt;

}


.cube_two2 p
{
	height: 200px;
	width: 80%;
	margin: auto;
	padding-top: 7%;
	font-size: 16pt;

}


.part_tree
{

	padding-top: 50px;
	width: 80%;
	margin: auto;
	height: 500px;
	position: relative;
}




.cube_tree
{
	height: 450px;
	width: 50%;
	margin:auto;
	background-color: #e2a8e6;
	box-shadow: #a3a3a3;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	position:relative;

}



.cube_tree p 
{
	
	height: 200px;
	width: 80%;
	margin: auto;
	padding-top: 7%;
	font-size: 16pt;
}





.end_line
{
	width: 40%;
	height: 100px;
	border-top: 1px solid gainsboro;
	transform: skewY(3deg);
	margin: auto;
}



.fin
{
	height: 500px;
	width: 100% ;
	transform-origin: left top;
	transform: skewY(-3deg);
	padding-top: 200px;
	background: linear-gradient(  #6d297e 0%, rgb(117, 15, 56) 20%);
}




.Acceuil-fin a, .contact-fin a, .Comment_jouer-fin a, .Notre_projet-fin a{
	font-family: 'Unispace', sans-serif;
	background-color: transparent;
	height: 80px;
	width: 50px;
	padding: 10px;
	font-size: 12pt;
	text-decoration: none;
	color: #F2F3F4;
	margin-left: 20px;
	transition-duration: 0.7s;
	border-radius: 50px;
	border: solid 1px transparent;
	mix-blend-mode: difference;
	margin-top: 30px;

 }


 .sep1
 {
	display: flex;
 }

 .sep2
 {
	display: flex;
 }
 
 .Acceuil-fin , .contact-fin, .Comment_jouer-fin, .Notre_projet-fin {
	flex: 1;
	height: 30px;
	margin-top: 20px;


 }


 .Acceuil-fin :hover ,  .contact-fin :hover, .Comment_jouer-fin :hover, .Notre_projet-fin :hover{
	color:#a3a3a3 ;
	transition-duration: 0.3s;
 }






